:root {
    --primary-color: #035662;
    --secondary-color: #479aae;
    --tertiary-color: #3e8782;
    --background-color: #f4f4f4;
    --box-shadow-light: 0 3px 6px rgba(0, 0, 0, 0.3);
    --box-shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.5);
    --font-family: 'Source Sans Pro', 'Roboto', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.chat-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    z-index: 1000;
    transition: transform 0.25s, box-shadow 0.25s, background-color 0.25s;
    border: none;
}

.chat-button span {
    font-size: 1.5rem;
    color: white;
}

.chat-button:hover {
    box-shadow: var(--box-shadow-dark);
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}

.chat-button.hidden {
    transform: scale(0);
}

.chat-window {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 390px;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

.chat-window.open {
    height: 70vh;
    box-shadow: var(--box-shadow-light);
    border: 1px solid #ccc;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .chat-window {
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
    }

    .chat-window.open {
        width: 90vw;
        height: 90vh;
    }
}

.chat-window iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-color);
    color: #ecf0f1;
    border-bottom: 1px solid #7f8c8d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chat-greeting {
    font-size: 1.25rem;
    margin-right: 10px;
    margin-left: 10px;
}

.close-button {
    background: none;
    border: none;
    width: 36px;
    height: 36px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.close-button:hover {
    background-color: #186864;
}

.close-button .material-icons {
    font-size: 1.25rem;
}

.text-on-page {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: var(--primary-color);
}

.material-icons {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
